Feature: Tests the {{entity}} Service using a REST client.

  Scenario: Save the {{entity}}
    Given that "tenant" equals "tenant0"
    And that "employee" equals "E1"
    And that "entity" equals "{{entity}}"
    When I construct a REST request with header "x-chenile-tenant-id" and value "${tenant}"
    And I construct a REST request with header "x-chenile-eid" and value "${employee}"
{{#security}}
    And I construct a REST request with authorization header in realm "tenant0" for user "t0-premium" and password "t0-premium"
{{/security}}
    And I POST a REST request to URL "/{{entity}}" with payload
    """
    {
      "attribute-name": "attribute-value"
	}
	"""
    Then success is true
    And the http status code is 200
    And store "$.payload.id" from  response to "id"

  Scenario: Retrieve the saved price with non decimal amount
    Given that "entity" equals "{{entity}}"
{{#security}}
    And I construct a REST request with authorization header in realm "tenant0" for user "t0-premium" and password "t0-premium"
{{/security}}
    And I construct a REST request with header "x-chenile-tenant-id" and value "tenant0"
    And I GET a REST request to URL "/${entity}/${id}"
    Then success is true
    And the REST response key "id" is "${id}"

