
## An integration test for Application {{app}}
The test case that demonstrates the BDD requires two things to be running:
{{#security}}
* The Keycloak server in port 8180 (this is in case security is enabled). To run keycloak, use keycloak-start.sh script.
{{/security}}
* The actual application ({{app}}) server in port 8080


