package {{com}}.{{company}}.{{org}}.{{service}}.service;

import {{com}}.{{company}}.{{org}}.{{service}}.model.{{Service}};

public interface {{Service}}Service {
	{{Service}} process({{Service}} request);
}
