<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <parent><groupId>{{chenilePackage}}</groupId><artifactId>chenile-parent</artifactId><version>{{chenileVersion}}</version><relativePath/></parent>
    <groupId>{{packageName}}</groupId><artifactId>{{application}}-parent</artifactId><version>{{applicationVersion}}</version><packaging>pom</packaging>
    <properties><revision>{{applicationVersion}}</revision></properties>
    <modules>
        <module>{{application}}-api</module><module>{{application}}-service</module>
        <module>{{application}}-configurations</module><module>{{application}}-package</module>
    </modules>
</project>
