<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<packaging>pom</packaging>
	<modules>
		<module>{{service}}-api</module>
		<module>{{service}}-service</module>
	</modules>
	<parent>
		<groupId>{{chenilePackage}}</groupId>
		<artifactId>chenile-parent</artifactId>
		<version>{{chenileVersion}}</version>
	</parent>
	<properties>
		<{{service}}.version>${revision}</{{service}}.version>
		<revision>{{serviceVersion}}</revision>
	</properties>
	<groupId>{{com}}.{{company}}.{{org}}.{{service}}</groupId>
	<artifactId>{{service}}-parent</artifactId>
	<version>${revision}</version>
</project>
