<project xmlns="http://maven.apache.org/POM/4.0.0">
    <modelVersion>4.0.0</modelVersion>
    <parent><groupId>{{packageName}}</groupId><artifactId>{{application}}-parent</artifactId><version>{{applicationVersion}}</version><relativePath>../pom.xml</relativePath></parent>
    <artifactId>{{application}}-configurations</artifactId>
</project>
