package {{com}}.{{company}}.{{org}}.{{batch}}.configuration.controller;

import jakarta.servlet.http.HttpServletRequest;
import {{chenilePackage}}.base.response.GenericResponse;
import {{chenilePackage}}.http.annotation.ChenileController;
import {{chenilePackage}}.http.annotation.EventsSubscribedTo;
import {{chenilePackage}}.pubsub.model.ChenilePubSub;
import {{chenilePackage}}.http.handler.ControllerSupport;
import {{chenilePackage}}.orchestrator.process.model.WorkerDto;
import {{com}}.{{company}}.{{org}}.{{batch}}.dto.{{Root}}Input;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RestController;

@ChenilePubSub
@RestController
@ChenileController(value = "{{batch}}Service", serviceName = "_{{batch}}Service_",
		healthCheckerName = "{{batch}}HealthChecker")
public class {{Batch}}Controller extends ControllerSupport{
	
	@PostMapping("/{{batch}}/firstTrigger")
	public ResponseEntity<GenericResponse<Process>> firstTrigger(
			HttpServletRequest httpServletRequest,
			@RequestBody {{Root}}Input entity){
		return process(httpServletRequest,entity);
	}

	@EventsSubscribedTo("topic1")
	@PostMapping("/{{batch}}/startWorker")
	public ResponseEntity<GenericResponse<Boolean>> startWorker(
			HttpServletRequest httpServletRequest,
			@RequestBody WorkerDto workerDto){
		return process(httpServletRequest,workerDto);
	}
}
