
chenile:
{{#enableServiceRegistryDelegate}}
  remote:
    service:
      registry: {{serviceRegistryUrl}}
{{/enableServiceRegistryDelegate}}
  security:
    client:
      id: "authz-servlet"
      secret: "secret"
    keycloak:
      host: "http://localhost:8180"
      port: 8180
      base:
        realm: quickstart

spring:
  application:
    name: {{monolith}}
{{#enableMCP}}
  ai:
    mcp:
      server:
        enabled: true
        name: {{mcpServerName}}
        type: SYNC
        version: {{monolithVersion}}
        protocol: STREAMABLE
        instructions: "{{mcpInstructions}}"
        capabilities:
          tool: true
          resource: true
          prompt: true
          completion: true
        streamable-http:
          mcp-endpoint: /mcp
{{/enableMCP}}
{{#enableH2Console}}
  h2:
    console:
      enabled: true
{{/enableH2Console}}
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8180/realms/#tenantId#/protocol/openid-connect/certs

server:
  banner:
    location: classpath:banner.txt
logging:
  level:
    org:
      chenile:
        security: DEBUG
{{#enableQueryController}}

query:
  mapperFiles: classpath*:{{com}}/{{company}}/{{org}}/**/mapper/*.xml
  definitionFiles: classpath*:{{com}}/{{company}}/{{org}}/**/mapper/*.json
{{/enableQueryController}}
