package {{com}}.{{company}}.{{org}}.{{service}}.service.cmds;

import {{chenilePackage}}.stm.STMInternalTransitionInvoker;
import {{chenilePackage}}.stm.State;
import {{chenilePackage}}.stm.model.Transition;
import {{chenilePackage}}.workflow.service.stmcmds.AbstractSTMTransitionAction;

import {{com}}.{{company}}.{{org}}.{{service}}.model.Assign{{Service}}Payload;
import {{com}}.{{company}}.{{org}}.{{service}}.model.{{Service}};

public class Assign{{Service}}Action extends AbstractSTMTransitionAction<{{Service}},Assign{{Service}}Payload>{

	@Override
	public void transitionTo({{Service}} {{service}}, Assign{{Service}}Payload payload, State startState, String eventId,
			State endState, STMInternalTransitionInvoker<?> stm, Transition transition) throws Exception {
		{{service}}.assignee = payload.assignee;
		{{service}}.assignComment = payload.getComment();
	}

}
