package {{com}}.{{company}}.{{org}}.{{service}}.service.impl;

import {{com}}.{{company}}.{{org}}.{{service}}.model.{{Service}};
import {{com}}.{{company}}.{{org}}.{{service}}.service.{{Service}}Service;

public class {{Service}}ServiceImpl implements {{Service}}Service {
	@Override
	public {{Service}} process({{Service}} request) {
		return request;
	}
}
