chenile.base.url=
chenile.monolith.name={{application}}
chenile.pre.processors=populateContextContainer
chenile.post.processors=
chenile.exception.handler=chenileExceptionHandler
chenile.service.json.package=classpath*:org/chenile/**/service/*.json
chenile.event.json.package=classpath*:org/chenile/orchestrator/process/event/*.json
chenile.interceptors.path=org/chenile/core/chenile-core.xml
