package {{com}}.{{company}}.{{org}}.{{service}}.configuration.dao;

import {{com}}.{{company}}.{{org}}.{{service}}.model.Issue;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

@Repository  public interface {{Service}}Repository extends JpaRepository<{{Service}},String> {}
