package {{com}}.{{company}}.{{org}}.{{service}}.model;

{{^jpa}}
import {{chenilePackage}}.utils.entity.model.AbstractExtendedStateEntity;
{{/jpa}}

{{#jpa}}
import jakarta.persistence.Entity;
import jakarta.persistence.Table;
import {{chenilePackage}}.jpautils.entity.AbstractJpaStateEntity;
@Entity
@Table(name = "{{service}}")
public class {{Service}} extends AbstractJpaStateEntity{
{{/jpa}}
{{^jpa}}
public class {{Service}} extends AbstractExtendedStateEntity{
{{/jpa}}
	public String assignee;
	public String assignComment;
	public String closeComment;
	public String resolveComment;
	public String description;
	public String openedBy;
}
