package {{com}}.{{company}}.{{org}}.{{service}}.model;

import {{chenilePackage}}.workflow.param.MinimalPayload;

public class Assign{{Service}}Payload extends MinimalPayload{
	public String assignee;	
}
