package {{com}}.{{company}}.{{org}}.{{service}}.model;

import {{chenilePackage}}.workflow.param.MinimalPayload;

/**
   Currently unused.
   <p>This is useful if you need a specific payload for a transition action.</p>
*/
public class XXX{{Service}}Payload extends MinimalPayload{

}
