{{#workflow}}
    {{#flows}}
        {{#events}}
            {{#manualTransition}}
--START--{{#capitalize}}{{eventId}}{{/capitalize}}{{Service}}Payload.java
package {{com}}.{{company}}.{{org}}.{{service}}.dto;

import {{chenilePackage}}.workflow.param.MinimalPayload;

/**
    Customized Payload for the {{eventId}} event.
*/
public class {{#capitalize}}{{eventId}}{{/capitalize}}{{Service}}Payload extends MinimalPayload{

}
--END--
            {{/manualTransition}}
        {{/events}}
    {{/flows}}
{{/workflow}}