{{#workflow}}
    {{#flows}}
        {{#events}}

--START--{{#capitalize}}{{eventId}}{{/capitalize}}{{Service}}Action.java
package {{com}}.{{company}}.{{org}}.{{service}}.service.cmds;

import {{chenilePackage}}.stm.STMInternalTransitionInvoker;
import {{chenilePackage}}.stm.State;
import {{chenilePackage}}.stm.model.Transition;

import {{chenilePackage}}.workflow.service.stmcmds.AbstractSTMTransitionAction;
import {{com}}.{{company}}.{{org}}.{{service}}.model.{{Service}};
{{#genCustomizedPayload}}
    {{#manualTransition}}
import {{com}}.{{company}}.{{org}}.{{service}}.dto.{{#capitalize}}{{eventId}}{{/capitalize}}{{Service}}Payload;
    {{/manualTransition}}
    {{^manualTransition}}
import {{chenilePackage}}.workflow.param.MinimalPayload;
    {{/manualTransition}}
{{/genCustomizedPayload}}
{{^genCustomizedPayload}}
import {{chenilePackage}}.workflow.param.MinimalPayload;
{{/genCustomizedPayload}}

/**
 Contains customized logic for the transition. Common logic resides at {@link DefaultSTMTransitionAction}
 <p>Use this class if you want to augment the common logic for this specific transition</p>
 <p>Use a customized payload if required instead of MinimalPayload</p>
*/
public class {{#capitalize}}{{eventId}}{{/capitalize}}{{Service}}Action extends AbstractSTMTransitionAction<{{Service}},

{{#genCustomizedPayload}}
{{#manualTransition}}
    {{#capitalize}}{{eventId}}{{/capitalize}}{{Service}}Payload>{
{{/manualTransition}}
{{^manualTransition}}
    MinimalPayload>{
{{/manualTransition}}
{{/genCustomizedPayload}}

{{^genCustomizedPayload}}
    MinimalPayload>{
{{/genCustomizedPayload}}

	@Override
	public void transitionTo({{Service}} {{service}},
{{#genCustomizedPayload}}
    {{#manualTransition}}
            {{#capitalize}}{{eventId}}{{/capitalize}}{{Service}}Payload payload,
    {{/manualTransition}}
    {{^manualTransition}}
            MinimalPayload payload,
    {{/manualTransition}}
{{/genCustomizedPayload}}
{{^genCustomizedPayload}}
            MinimalPayload payload,
{{/genCustomizedPayload}}
            State startState, String eventId,
			State endState, STMInternalTransitionInvoker<?> stm, Transition transition) throws Exception {
{{#genDefaultPostSaveHook}}
            {{service}}.transientMap.previousPayload = payload;
{{/genDefaultPostSaveHook}}
	}

}
--END--
        {{/events}}
    {{/flows}}
{{/workflow}}