package {{com}}.{{company}}.{{org}}.{{batch}};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.web.servlet.support.SpringBootServletInitializer;
import org.springframework.boot.autoconfigure.domain.EntityScan;
import org.springframework.data.jpa.repository.config.EnableJpaRepositories;
import org.springframework.transaction.annotation.EnableTransactionManagement;

@SpringBootApplication(scanBasePackages = {
		"{{chenilePackage}}" })
@EntityScan("{{chenilePackage}}")
@EnableJpaRepositories(basePackages = "{{chenilePackage}}")
@EnableTransactionManagement
public class {{Batch}}deployApplication extends SpringBootServletInitializer {

	public static void main(String[] args) {
		SpringApplication.run({{Batch}}deployApplication.class, args);
	}
}
