package {{com}}.{{company}}.{{org}}.{{service}}.configuration.controller;

import java.util.List;
import java.util.Map;

import jakarta.servlet.http.HttpServletRequest;
import {{chenilePackage}}.base.response.GenericResponse;
import {{chenilePackage}}.http.annotation.ChenileController;
import {{chenilePackage}}.http.handler.ControllerSupport;
import {{chenilePackage}}.workflow.info.model.StateEntityAllowedActionsRequest;
import {{chenilePackage}}.workflow.info.model.StateEntityInfoRequest;
import {{chenilePackage}}.workflow.info.model.WorkflowInfoResponse;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RestController;

@RestController
@ChenileController(value = "{{service}}StateEntityInfoService", serviceName = "_{{service}}StateEntityInfoService_",
        healthCheckerName = "{{service}}HealthChecker", bluePrintName = "wfcustom")
public class {{Service}}StateEntityInfoController extends ControllerSupport {
    @PostMapping("/{{service}}/info/state-diagram")
    public ResponseEntity<GenericResponse<WorkflowInfoResponse<byte[]>>> renderStateDiagram(
            HttpServletRequest request,
            @RequestBody(required = false) StateEntityInfoRequest workflowInfoRequest) {
        return process("renderStateDiagram", request, workflowInfoRequest);
    }

    @PostMapping("/{{service}}/info/allowed-actions")
    public ResponseEntity<GenericResponse<WorkflowInfoResponse<List<String>>>> allowedActions(
            HttpServletRequest request,
            @RequestBody StateEntityAllowedActionsRequest workflowInfoRequest) {
        return process("allowedActions", request, workflowInfoRequest);
    }

    @PostMapping("/{{service}}/info/json")
    public ResponseEntity<GenericResponse<WorkflowInfoResponse<Map<String, Object>>>> toJson(
            HttpServletRequest request,
            @RequestBody(required = false) StateEntityInfoRequest workflowInfoRequest) {
        return process("toJson", request, workflowInfoRequest);
    }

    @PostMapping("/{{service}}/info/test-cases")
    public ResponseEntity<GenericResponse<WorkflowInfoResponse<String>>> generateTestCases(
            HttpServletRequest request,
            @RequestBody(required = false) StateEntityInfoRequest workflowInfoRequest) {
        return process("generateTestCases", request, workflowInfoRequest);
    }

    @PostMapping("/{{service}}/info/test-visualization")
    public ResponseEntity<GenericResponse<WorkflowInfoResponse<String>>> visualizeTestCases(
            HttpServletRequest request,
            @RequestBody(required = false) StateEntityInfoRequest workflowInfoRequest) {
        return process("visualizeTestCases", request, workflowInfoRequest);
    }

    @PostMapping("/{{service}}/info/test-state-diagrams")
    public ResponseEntity<GenericResponse<WorkflowInfoResponse<Map<String, byte[]>>>> renderTestsAsStateDiagram(
            HttpServletRequest request,
            @RequestBody(required = false) StateEntityInfoRequest workflowInfoRequest) {
        return process("renderTestsAsStateDiagram", request, workflowInfoRequest);
    }
}
