# All Chenile configuration properties
chenile.module.name={{app}}-test
chenile.post.processors=securityInterceptor
chenile.pre.processors=
chenile.exception.handler=chenileExceptionHandler

chenile.service.json.package=
chenile.event.json.package=
chenile.interceptors.path=org/chenile/core/chenile-core.xml

# The event processor to be used. This can be over-ridden at the app level
# Hence must be specified here
chenile.event.processor=


