<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>{{com}}.{{company}}.{{org}}.{{service}}</groupId>
		<artifactId>{{service}}-parent</artifactId>
		<version>${revision}</version>
		<relativePath>../pom.xml</relativePath>
	</parent>
	
	<artifactId>{{service}}-service</artifactId>
	<packaging>jar</packaging>

	<name>{{Service}} Service Implementations</name>

	<dependencies>
		<dependency>
			<groupId>{{com}}.{{company}}.{{org}}.{{service}}</groupId>
			<artifactId>{{service}}-api</artifactId>
		</dependency>
	
		<dependency>
			<groupId>{{chenilePackage}}</groupId>
            <artifactId>workflow-service</artifactId>
		</dependency>
        <dependency>
            <groupId>org.junit.vintage</groupId>
            <artifactId>junit-vintage-engine</artifactId>
            <scope>test</scope>
        </dependency>
        {{#security}}
        <dependency>
            <groupId>{{chenilePackage}}</groupId>
            <artifactId>chenile-security-api</artifactId>
        </dependency>
        <!-- Test dependencies for security -->
        <dependency>
            <groupId>{{chenilePackage}}</groupId>
            <artifactId>cucumber-sec-utils</artifactId>
            <scope>test</scope>
        </dependency>
        <dependency>
            <groupId>{{chenilePackage}}</groupId>
            <artifactId>security-interceptor</artifactId>
            <scope>test</scope>
        </dependency>
        {{/security}}
		<dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
	    </dependency>
	    <dependency>
			<groupId>org.chenile</groupId>
			<artifactId>chenile-http</artifactId>
		</dependency>
		<dependency>
			<groupId>org.chenile</groupId>
			<artifactId>cucumber-utils</artifactId>
			<scope>test</scope>
		</dependency>
        {{#jpa}}
        <dependency>
            <groupId>com.h2database</groupId>
            <artifactId>h2</artifactId>
            <scope>test</scope>
        </dependency>
        {{/jpa}}
        {{#enablement}}
        <dependency>
            <groupId>org.chenile</groupId>
            <artifactId>cucumber-workflow-utils</artifactId>
            <scope>test</scope>
        </dependency>
        {{/enablement}}
	</dependencies>

    <build>
        <plugins>
            <plugin>
                <groupId>org.chenile</groupId>
                <artifactId>stm-generate-puml</artifactId>
                <executions>
                    <execution>
                        <goals>
                            <goal>generate-puml</goal>
                        </goals>
                        <configuration>
                            <stylingPropertiesFile>{{com}}/{{company}}/{{org}}/{{service}}/styling.json</stylingPropertiesFile>
                            {{#enablement}}
                            <enablementPropertiesFile>{{com}}/{{company}}/{{org}}/{{service}}/enablement.properties</enablementPropertiesFile>
                            <prefix>{{Service}}</prefix>
                            {{/enablement}}
                        </configuration>
                    </execution>
                </executions>
                <configuration>
                </configuration>
            </plugin>
            <plugin>
                <groupId>com.github.davidmoten</groupId>
                <artifactId>plantuml-maven-plugin</artifactId>
                <version>0.2.12</version>
                <executions>
                    <execution>
                        <id>generate-diagrams</id>
                        <phase>generate-resources</phase>
                        <goals>
                            <goal>generate</goal>
                        </goals>
                        <configuration>
                            <sources>
                                <directory>${project.build.directory}/generated-puml</directory>
                                <includes>
                                    <include>**/*.puml</include>
                                </includes>
                                <excludes>
                                    <exclude>**/ignore-me.puml</exclude>
                                </excludes>
                            </sources>
                            <outputDirectory>${project.build.directory}/generated-diagrams</outputDirectory>
                            <formats>
                                <format>png</format>
                                <format>svg</format>
                            </formats>
                            <preserveDirectoryStructure>false</preserveDirectoryStructure>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>
</project>
