package {{com}}.{{company}}.{{org}}.{{service}}.bdd;

import io.cucumber.junit.Cucumber;
import io.cucumber.junit.CucumberOptions;
import org.junit.runner.RunWith;
import org.springframework.test.context.ActiveProfiles;


@RunWith(Cucumber.class)
@CucumberOptions(features = "src/test/resources/features",
{{^security}}
		glue = {"classpath:{{com}}/{{company}}/{{org}}/{{service}}/bdd", "classpath:org/chenile/cucumber/rest"},
{{/security}}
{{#security}}
        glue = {"classpath:{{com}}/{{company}}/{{org}}/{{service}}/bdd", "classpath:org/chenile/cucumber/rest",
                "classpath:org/chenile/cucumber/security/rest"},
{{/security}}
        plugin = {"pretty"}
        )
@ActiveProfiles("unittest")

public class CukesRestTest {

}
