package {{com}}.{{company}}.{{org}}.{{app}};

import {{com}}.{{company}}.{{org}}.{{app}}.SpringTestConfig;
import cucumber.api.java.en.Given;
import org.springframework.boot.test.autoconfigure.web.servlet.AutoConfigureMockMvc;
import org.springframework.boot.test.context.SpringBootTest;

/**
    * This "steps" file's purpose is to hook up the SpringConfig to the test case.
    * It does not contain any methods currently but can be used for writing your own custom BDD steps
    * if required. In most cases people don't need additional steps since it-cucumber-utils provides for
    * most of the steps. <br/>
    * This class requires a dummy method to keep Cucumber from erring out. (Cucumber needs at least
    * one step in a steps file)<br/>
*/
@SpringBootTest(classes = SpringTestConfig.class)
@AutoConfigureMockMvc
public class CukesSteps {
	
	@Given("dummy") public void dummy(){}
}
